* {
    padding: 0;
    margin: 0 auto;
}

body {
    background: #f5f5eb;
}

.container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr;
}

/*.title,*/
.page{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #a6a9ab;
}

h1 {
    width: 100%;
    text-align: left;
}

/*.line {*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    background: #a6a9ab;*/
/*    height: 1px;*/
/*}*/

.accord {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    margin-left: 0;
    display: block;
}

.cross {
    margin-right: 0;
}

.place__img{
    display: none;
    width: 30vw;
    height: 30vh;
    text-align: center;
    opacity: 0;
}

.place__img img {
    width: 100%;
    height: 100%;
}

.page:hover .accord{
    cursor: pointer;
    color: cornflowerblue;
    transition: .3s;
}

:is(.page:hover) .place__img {
    display: block;
    animation: size 1s ease-out;
    opacity: 100%;
}

:is(.page:hover) .cross{
    transform: rotate(45deg);
    transition: .3s;
}

#comments:not(:target) {
    display: none;
}
#comments:target {
    display: block;
}


@keyframes size {
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }

    100% {
        opacity: 100%;
    }
}

/*@keyframes resize {*/
/*    0% {*/
/*        width: 50vw;*/
/*        height: 50vh;*/
/*    }*/

/*    100% {*/
/*        width: 1vw;*/
/*        height: 1vh;*/
/*    }*/
/*}*/