* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: 300;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.header {
    padding: 25px 0;
    background-color: #a9a7a7;
}

main {
    background-color: #d2d2d2;
    flex: auto;
}

.footer {
    background-color: #a9a7a7;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.menu-list {
    padding: 0;
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.item {
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
    color: #30331c;
    text-decoration: none;
    align-self: center;
    padding: 0 12px;
    transition: .3s;
    position: relative;
}

.item:hover {
    color: #885454;
    /*background: #332c2c;*/
    /*border-radius: 10px;*/
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-image {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 5px solid #9b9b97;
}

.present {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #885454;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.name {
    font-size: 27px;
    text-transform: uppercase;
    margin: inherit;
}

.dev {
    font-size: 20px;
    color: grey;
    padding-left: 210px;
}

.begin {
    font-size: 14px;
    padding-left: 400px;
    color: #651c1c;
}

.main-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    /*justify-content: space-between;*/
}

.section {
    width: 100%;
    padding: 20px;
    border: #ffffff 2px solid;
    border-radius: 15px;
}

.section:hover {
    transform: scale(1.15, 1.15);
    background-color: #bbbebb;
    transition: .5s;
}

h2 {
    font-size: 30px;
    margin-left: 50px;
}

p {
    font-size: 20px;
    font-weight: 300;
    color: #282424;
    line-height: 1.5;
}

.text {
    padding-top: 10px;
}

span {
    font-weight: 700;
}

.pre {
    padding: 0;
    margin: 0;
}

.desk {
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    color: #282424;
    line-height: 1.5;
}

.desk__link,
.footer__link {
   text-decoration: none;
    color: #651c1c;
}